OPENAI_API_KEY=""
LINKUP_API_KEY=""
CHAINLIT_AUTH_SECRET=""
DATABASE_URL=""

# S3 configuration.
# BUCKET_NAME=my-bucket
# APP_AWS_ACCESS_KEY=random-key
# APP_AWS_SECRET_KEY=random-key
# APP_AWS_REGION=eu-central-1
# DEV_AWS_ENDPOINT=http://localhost:4566

OAUTH_GOOGLE_CLIENT_ID=""
OAUTH_GOOGLE_CLIENT_SECRET=""

BUCKET_NAME=""
APP_AZURE_STORAGE_ACCOUNT=""
APP_AZURE_STORAGE_ACCESS_KEY=""
APP_AZURE_STORAGE_CONNECTION_STRING=""
# DEV_AZURE_BLOB_ENDPOINT=""